@import '../variables.scss';

#footer-container {
    text-align: center;
    color: $primaryColor;
    margin-top: 200px;

    h2 {
        text-transform: uppercase;
    }

    a {
        font-size: 14px;
        color: $primaryColor;
    }

    p {
        font-size: 14px;
        margin-top: 30px;
        padding-bottom: 30px;
        line-height: 1.8;
    }

}