@import '../variables.scss';

#hero-section {
    color: white;
    width: 480px;
    position: absolute;
    top: 25%;
    left: 20%;

    a {
        color: white;
        font-weight: 600;
    }
    span {
        font-weight: 600;
    }

    h2 {
        margin-bottom: 25px;
        font-size:42px;
    }
    h3 {
        color: rgb(240, 240, 240);
        margin-bottom: 45px;
        line-height: 2;
        font-weight: 100;
    }
        
    #hero-img {
        position: absolute;
        right: -130%;
        top: -50%;
        height: 500px;
    }

    #github-link i, #linkedin-link i, #resume-link i {
        margin-left: 15px;
        background: white;
        border: 1px solid white;
        border-radius: 50%;
        -webkit-text-fill-color: $primaryColor;
        transition: background-color 0.2s;

        &:hover {
            -webkit-text-fill-color: white;
            background: transparent;
        }
    }
    #github-link i {
        font-size: 28px;
        padding: 5px;
    }
    #linkedin-link i {
        font-size: 20px;
        padding: 10px;
    }
    #resume-link i {
        font-size: 20px;
        padding: 10px;
    }
    
    .fa {
        margin-left: 20px;
        background: white;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

header {
    position: relative;
    height: 90vh;
    background-image: linear-gradient(135deg, #012041 0%, #18496a 50%, #138b89 100%);
}
  