@import '../variables.scss';

#main-content {
    width: $containerDesktop;
    margin: 0 auto 200px auto;
    display: flex;
    position: relative;
    bottom: -50px;
    color: rgb(80, 80, 80);

    .main-item {
        width: 30%;
        margin: auto;

        a { 
            color: $secondaryColor; 
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
            opacity: 0.8;
            transition: opacity .2s;

            &:hover {
                opacity: 1;
                font-weight: 600;
            }

            &::before {
                content: '';
                display: inline-block;
                width: 0px;
                height: 2px;
                margin-bottom: 3px;
                background: $secondaryColor;
                transition: width .3s;
            }

            &:hover::before {
                width: 20px;
                margin-right: 2px;
            }
        }
    }

    h2 { 
        display: inline;
        text-transform: uppercase;
        font-size: 20px;
        position: relative;
        bottom: 5px;
    }
    p { 
        margin: 25px 0 15px 0; 
        line-height: 1.5;
    }

}