@import '../variables.scss';

#main-content {
    width: 60%;
    margin: 0 auto 200px auto;
    display: flex;
    position: relative;
    bottom: -50px;
    color: rgb(80, 80, 80);

    .main-item {
        width: 30%;
        margin: auto;

        a { 
            color: $secondaryColor; 
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;

            &:hover { font-weight: 600; }
        }
    }

    h2 { 
        display: inline;
        text-transform: uppercase;
        font-size: 20px;
    }
    p { 
        margin: 25px 0 15px 0; 
        line-height: 1.5;
    }

}