@import '../variables.scss';

#navbar {
    color:white;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    font-weight:600;

    span {
        text-transform: uppercase;
    }

    @media only screen and (min-width: 1200px) {
        width: 1150px;
    }
}

nav {
    float: right;

    a {
        text-decoration: none;
        color:white;
        display: inline-block;
        margin: 0 10px;
        text-transform: uppercase;
        transition: border-width 0.5s;
        -webkit-transition: border-width .5s;
        -moz-transition: border-width .5s;

        &:hover {
            color: rgb(218, 218, 218)
        }
        
        &::after {
            content: '';
            display: block;
            width: 0px;
            height: 2px;
            background: white;
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
        }
        
    }
}