@import '../variables.scss';

.skills-container {
    height: 135vh;
    position: relative;
    background: #0b345d;
    background-image: linear-gradient(-125deg, #002f62 0%, #18496a 50%, #138b89 100%);
    color: white;

    #skills-section {
        padding-top: 500px;
    }
    
    .svg-top {
        bottom: 70%;
    }

    i {
        -webkit-text-fill-color: white;
    }

    #skills-items-wrapper {
        display: flex;
        width: $containerDesktop;
        margin: auto;
        flex-wrap: wrap;
        text-align: center;

        h5 {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .skills-item {
            margin: 70px;
        }

        .fab {
            font-size: 60px;
            margin: 15px auto;
        }

        #bootstrap-icon {
            margin: 15px auto 15px auto;
            width: 55px;
            height: 55px;
            padding-top: 3px;
            background: white;
            color: rgb(4, 84, 99);
            font-size: 40px;
            font-weight: 900;
            border-radius: 10px;
        }

        #mongodb-icon {
            width: 75px;
            height: 75px;
            margin: 0px 0 10px 0;

        }
    }


    #skills-header {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;

        i {
            font-size: 20px;
        }

        h2 {
             display: inline;
             margin-left: 15px;
         }
    }
}