@import './variables.scss';

* {
    margin:0;
    padding: 0;
}

body {
    font-family: $mainFont;
}

#svg {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.section-headers {
    font-size: 32px;
    color: $secondaryColor;
    text-transform: uppercase;
}